/* ./styles/globals.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body{
  @apply bg-gray-100;
  @apply dark:bg-black;
  @apply dark:text-white;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.tooltip .tooltip-content{
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;
}


.tooltip:hover .tooltip-content{
  visibility: visible;
  opacity: 1;
}

section{
  scroll-snap-align: start;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
